@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  min-height: 100vh;
}

main {
  padding-top: 72px;
  min-height: 100vh;
  width: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#header .navbar {
  background-color: #032541;
}
#header .navbar i {
  font-size: 2.5rem;
  color: white;
}
#header .navbar .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}
#header .navbar .navbar-nav .nav-link:hover {
  color: #1c93f5;
}
#header .navbar .navbar-nav .nav-link:focus, #header .navbar .navbar-nav .nav-link:active, #header .navbar .navbar-nav .nav-link.active {
  color: #7dc1f9;
}
#header .navbar .navbar-toggler {
  background-color: #dff0fe;
  border-color: white;
}
#header .navbar .nav-item {
  text-align: end;
}

.section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: #032541;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.2rem;
  right: 0rem;
  height: 0.5rem;
  background-color: #032541;
}

.section-title--font-size-4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: #032541;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section-title--font-size-4::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.2rem;
  right: 0rem;
  height: 0.5rem;
  background-color: #032541;
}

.section-title--font-size-2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: #032541;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section-title--font-size-2::after {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0.1rem;
  right: 0rem;
  height: 0.25rem;
  background-color: #032541;
}

.background-container {
  position: relative;
  margin: 0 auto;
  z-index: -1;
  width: 100%;
  top: 0;
  max-height: min(500px, 100vw * 1 / var(--aspect-ratio) - 30px);
  height: 50vw;
}
.background-container .background-image {
  position: fixed;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.article-container {
  background-color: white;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
}
@media (max-width: 575.98px) {
  .article-container {
    padding-top: 1.5rem;
  }
}
.article-container .article-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 575.98px) {
  .article-container .article-content {
    gap: 1rem;
  }
}
.article-container .article-content h1 {
  font-weight: 600;
}

@media (min-width: 1200px) {
  .background-image[data-article-id=Black-Panther] {
    transform: translateY(-6%);
  }
  .background-image[data-article-id=Gladiator-2] {
    transform: translateY(-10%);
  }
  .background-image[data-article-id=Arcane] {
    transform: translateY(-5%);
  }
  .background-image[data-article-id=La-La-Land] {
    transform: translateY(-6%);
  }
}
.news-dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  margin-bottom: 2rem;
}
.news-dashboard-container .news-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
}
.news-dashboard-container .news-grid .news-card {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  max-height: auto;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
}
.news-dashboard-container .news-grid .news-card .news-card-image-portion {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.news-dashboard-container .news-grid .news-card .news-card-image-portion img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.news-dashboard-container .news-grid .news-card .news-card-headline-portion {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: left;
}
.news-dashboard-container .news-grid .news-card .news-card-headline-portion h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #032541;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-decoration: none;
}
.news-dashboard-container .news-grid .news-card:hover {
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.news-dashboard-container .news-grid .news-card:hover img {
  transform: scale(1.07);
}
@media (min-width: 992px) {
  .news-dashboard-container .news-grid .news-card:first-child {
    flex-direction: row;
  }
  .news-dashboard-container .news-grid .news-card:first-child .news-card-image-portion {
    width: 50%;
    height: auto;
  }
  .news-dashboard-container .news-grid .news-card:first-child .news-card-headline-portion {
    width: 50%;
    height: 100%;
    padding: 0 3rem;
  }
  .news-dashboard-container .news-grid .news-card:first-child .news-card-headline-portion h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .news-dashboard-container .news-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .news-dashboard-container .news-grid .news-card:first-child {
    grid-column: span 4;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .news-dashboard-container .news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .news-dashboard-container .news-grid .news-card:first-child {
    grid-column: span 3;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .news-dashboard-container .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .news-dashboard-container .news-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.celebrities-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.celebrities-main .celebrities-wrapper {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 1rem;
}
.celebrities-main .celebrities-slider-wrapper {
  margin: 2rem 0 1rem 0;
  width: 100vw;
}
.celebrities-main .celebrities-slider-wrapper #lightSlider {
  width: 100%;
}
.celebrities-main .celebrities-slider-wrapper #lightSlider li {
  width: auto;
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card .celebrity-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card .celebrity-image-wrapper .celebrity-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(10%);
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card .celebrity-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card .celebrity-text-wrapper :nth-child(2) {
  margin-top: -0.5rem;
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card .celebrity-text-wrapper :nth-child(3) {
  margin-top: -0.3rem;
}
.celebrities-main .celebrities-slider-wrapper .celebrity-card .celebrity-text-wrapper .age {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

.born-today-and-date-wrapper {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}
.born-today-and-date-wrapper .month-and-day-title {
  font-size: 2rem;
  color: #032541;
}

.celebrity-card {
  width: 180px !important;
}
.celebrity-card .celebrity-image-wrapper {
  width: 180px !important;
  height: 180px !important;
}

@media (max-width: 575.98px) {
  .celebrity-card {
    width: 160px !important;
  }
  .celebrity-card .celebrity-image-wrapper {
    width: 160px !important;
    height: 160px !important;
  }
  .celebrities-main .celebrities-wrapper .section-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7rem;
    position: relative;
    width: -moz-max-content;
    width: max-content;
    color: #032541;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .celebrities-main .celebrities-wrapper .section-title::after {
    content: "";
    position: absolute;
    bottom: 0.17rem;
    left: 0.085rem;
    right: 0rem;
    height: 0.2125rem;
    background-color: #032541;
  }
  .celebrities-main .celebrities-wrapper .month-and-day-title {
    font-size: 1.7rem;
  }
}
.celebrities-main .celebrities-wrapper .celebrities-slider-wrapper .celebrity-card .celebrity-image-wrapper .celebrity-image#Margaret-Qualley-img {
  transform: scale(1.8) translateY(8%);
}
.celebrities-main .celebrities-wrapper .celebrities-slider-wrapper .celebrity-card .celebrity-image-wrapper .celebrity-image#Paul-Mescal-img {
  transform: scale(2) translateY(28%);
}

.sign-in-body {
  height: 100vh;
}

.sign-in-main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.sign-in-main .background-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4.5rem;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
.sign-in-main .background-wrapper .background-image {
  z-index: -1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1400px) {
  .sign-in-main .background-wrapper .background-image {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .sign-in-main {
    align-items: flex-end;
  }
  .sign-in-main .sign-in-form {
    margin-right: 10vw;
  }
  .sign-in-main .background-wrapper {
    display: flex;
  }
}

.sign-in-form {
  background-color: #ecf7fd;
  padding: 1rem;
  border-radius: 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  width: 450px;
  position: relative;
  transform: translateY(-3%);
}
@media (max-width: 575.98px) {
  .sign-in-form {
    width: 95%;
    max-width: 450px;
    transform: translateY(-8%);
  }
}
.sign-in-form .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.sign-in-form .is-visible {
  opacity: 1;
  pointer-events: auto;
}
.sign-in-form #form-main-page label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.sign-in-form #form-main-page .sign-in-form-title {
  font-weight: 600;
  font-size: 36px;
}
.sign-in-form #form-main-page .form-label {
  font-size: 20px;
  font-weight: 500;
}
.sign-in-form #form-main-page .form-control {
  height: 45px;
  font-size: 1.2rem;
}
.sign-in-form #form-main-page .form-control:focus {
  border-color: #032541;
  box-shadow: 0 0 0 0.25rem rgba(5, 58, 101, 0.4);
}
.sign-in-form #form-main-page .form-check {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.sign-in-form #form-main-page .form-check * {
  margin-block: 0;
}
.sign-in-form #form-main-page .form-check .form-check-input {
  width: 20px;
  height: 20px;
}
.sign-in-form #form-main-page .form-check .form-check-input:checked {
  background-color: #032541;
  border-color: #032541;
}
.sign-in-form #form-main-page .form-check .form-check-input:focus {
  border-color: #032541;
  box-shadow: 0 0 0 0.25rem rgba(5, 58, 101, 0.4);
}
.sign-in-form #form-main-page .sign-in-bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.sign-in-form #form-main-page .sign-in-bottom-section .new-here-section {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 6px;
}
.sign-in-form #form-main-page .sign-in-bottom-section .new-here-section .new-here-text {
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  text-align: center;
}
.sign-in-form #form-main-page .sign-in-bottom-section .new-here-section .thin-line {
  height: 1px;
  width: 100%;
  background-color: black;
}
.sign-in-form #form-second-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  gap: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: inherit;
}
.sign-in-form #form-second-page .second-page-text-and-emoji-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sign-in-form #form-second-page .second-page-text-and-emoji-wrapper .emoji-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-form #form-second-page .second-page-text-and-emoji-wrapper .emoji-wrapper .emoji-img {
  width: 7rem;
  height: auto;
}

.sign-in-form-button {
  height: 3rem;
  width: 100%;
  font-size: 18px;
  border-radius: 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.sign-in-form-button.primary-color-button {
  background-color: #032541;
  border-color: #032541;
  color: white;
}
.sign-in-form-button.primary-color-button:hover, .sign-in-form-button.primary-color-button:active {
  background-color: #021d32 !important;
}
.sign-in-form-button#create-new-account-button {
  background-color: #D7EDFF;
  border-color: #D7EDFF;
  color: #032541;
}

.watch-online__swiper {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 80vh;
  position: relative;
}
@media (max-width: 575.98px) {
  .watch-online__swiper {
    min-height: 35vh;
  }
}
.watch-online__swiper .watch-online__swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90vw;
  overflow: hidden;
}
.watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}
.watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info .logo {
  max-height: 20vw;
  max-width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 575.98px) {
  .watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info .logo {
    max-height: 12vh;
    max-width: 80%;
  }
}
.watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info .info-strip {
  display: flex;
  justify-content: center;
  padding-block: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 575.98px) {
  .watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info .info-strip {
    display: none;
  }
}
.watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info .info-strip .info-strip-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(1rem, 4vw, 2rem);
}
.watch-online__swiper .watch-online__swiper-slide .slide-info-wrapper .watch-online__swiper-slide-info .info-strip .info-strip-content p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.watch-online__swiper .watch-online__swiper-slide .watch-online__swiper-slide-backdrop {
  position: relative;
  top: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: grab;
}
@media (max-width: 575.98px) {
  .watch-online__swiper .watch-online__swiper-slide .watch-online__swiper-slide-backdrop {
    height: 100%;
  }
}
.watch-online__swiper .watch-online__swiper-slide .watch-online__swiper-slide-backdrop:active {
  cursor: grabbing;
}

.media-scroller-wrapper {
  position: relative;
  overflow: hidden;
}
.media-scroller-wrapper::after {
  position: absolute;
  content: "";
  top: -2px;
  bottom: 10px;
  right: -10px;
  width: 20vw;
  max-width: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 90%);
  z-index: 100;
  transform: translateX(0);
  opacity: 1;
  pointer-events: none;
  transition: all 1s ease;
}
.media-scroller-wrapper.hidden::after {
  opacity: 0;
  transform: translateX(50px);
}

.media-scroller {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  position: relative;
  padding-inline: 1rem;
  padding-top: 1rem;
}

.movie-card {
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
  gap: 1rem;
  width: 150px;
}
.movie-card .movie-card__poster {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 17px;
  transition: transform 0.3s ease;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.movie-card .movie-card__title {
  font-size: 1rem;
  word-break: keep-all;
  font-weight: 500;
  width: auto;
  text-align: center;
}
@media (min-width: 576px) {
  .movie-card:hover {
    cursor: pointer;
  }
  .movie-card:hover .movie-card__poster {
    transform: scale(1.05);
  }
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: calc(1rem - 3px);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: rgb(198, 198, 198);
  border-radius: 8px;
  margin: 1rem;
}

::-webkit-scrollbar-thumb {
  height: auto;
  width: auto;
  cursor: grab;
  border-radius: 8px;
  background-color: #032541;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.popular-sections-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
}

@media (max-width: 575.98px) {
  .movie-card {
    width: 150px;
  }
  .media-scroller {
    gap: 0.5rem;
    grid-auto-columns: 150px;
    padding-inline: 0.5rem;
  }
  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: calc(0.5rem - 3px);
  }
}/*# sourceMappingURL=styles.css.map */