<header id="header-element fixed-top">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid container-md px-4 py-1">
            <span class="navbar-brand d-flex">
                <i class="fa-solid fa-film"></i>
            </span>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 gap-md-4">
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="celebrities.html">Celebrities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sign-in.html">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
