$card-width: 150px;
$spacer: 1rem;

.media-scroller-wrapper {
    position: relative;
    overflow: hidden;
    
    &::after {
        position: absolute;
        content: "";
        top: -2px;
        bottom: 10px;
        right: -10px;
        width: 20vw;
        max-width: 100px;

        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1) 90%,
            );
            z-index: 100;
            transform: translateX(0);
            opacity: 1;
            pointer-events: none;
            transition: all 1s ease;
        }
        &.hidden::after {
            opacity: 0;
            transform: translateX(50px);
    }
    
}

.media-scroller {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    display: grid;
    gap: $spacer;
    grid-auto-flow: column;
    grid-auto-columns: $card-width;

    position: relative;
    padding-inline: $spacer;


}

.movie-card {
    display: grid;
    grid-template-rows: min-content;
    justify-items: center;
    gap: 1rem;
    width: $card-width;

    .movie-card__poster {
        width: 100%;
        aspect-ratio: 2 / 3;
        border-radius: 17px;
    }

    .movie-card__title {
        font-size: 1rem;
        font-weight: 500;
        width: auto;
        text-align: center;
    }
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: calc($spacer - 3px);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: rgb(198, 198, 198);
    border-radius: 8px;
    margin: 1rem;
    
}

::-webkit-scrollbar-thumb {
    height: auto;
    width: auto;
    cursor: grab;
    border-radius: 8px;
    background-color: $primary-color;

    &:active {
        cursor: grabbing;
    }
}

@include media-breakpoint-down(sm) {
    $card-width-smaller: 150px;
    $spacer-smaller: .5rem;

    
    .movie-card {
        width: $card-width-smaller;
    }

    .media-scroller {
        gap: .5rem;
        grid-auto-columns: $card-width-smaller;
        padding-inline: $spacer-smaller;
    }

    .snaps-inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: calc($spacer-smaller - 3px);
    }
}