// header {
//     visibility: hidden;
// }

.background-container {
    position: relative;
    margin: 0 auto; // Center the container without transform
    z-index: -1;
    width: 100%;
    height: 40vw;
    background-image: url("../../assets/images/Article_Img_Gladiator2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; // Keeps the background fixed
    background-size: contain;
    background-position: center 4rem;
    top: 0;
    @include media-breakpoint-up(lg) {
        height: 500px;
        background-size: cover;
        background-position: center top;
    }
}

.article-container {
    background-color: white;
    position: absolute;
    width: 100%;

    padding-top: 2rem;

    @include media-breakpoint-only(xs) {
        padding-top: 1.5rem;
    }

    .article-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include media-breakpoint-only(xs) {
            gap: 1rem;
        }
    }
}
