.background-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    top: -2rem;

    .background-image {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }
}

.article-container {
    background-color: white;
    position: absolute;
    width: 100%;
}
